body {
    background-color: #e1e1e1;
    font-family: 'Raleway', sans-serif;
}

#container {
    /* width: 1000px; */
    margin-left: auto;
    margin-right: auto;
    border: 5px solid blue;
}

#logo-and-nav {
    border: 3px solid green;
    display: flex;
    justify-content: space-between;
    
}

#logo {
    display: flex;
}

.logo-item {
    padding: 2px;
    align-self: center;
}


nav ul {
    list-style: none;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 10px;
}

nav a:link
{
   color: #6b6b6b;
   text-decoration: none;
}

nav a:visited
{
   color: #6b6b6b;
}

nav a:hover
{
   color: #999;
}

nav a:active
{
   color: #6b6b6b;
}


.hero-img {
    border: 5px solid red;
    /* padding: 5%; */
    /* width: 100vw; */
    /* position: relative; */
    height: 80vh;
    /* margin-top: 200px; */

    background-image: url("img/hero-image-1920-1152.jpg");
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;
}