:root {
    --outer-background-color: #e1e1e1;
    --main-text-color: #6b6b6b;
    --welcome-text-color: #ffc63b;
    --button-darker-end-color: #ff9a3b;    
    --a-hover-color: #999;
}

body {
    background-color: var(--outer-background-color);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0;
}

#container {
    margin: 0 auto;
    background-color: #fff;
}

.logo-and-nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    opacity: 0.7;
}

.logo-and-nav a:hover {
    color: var(--a-hover-color);
    text-decoration: none;
}

#logo {
    display: flex;
    padding-left: 50%;
}

.logo-item {
    padding: 0.1em 0.5em 0.5em 0;
    align-self: center;
}

.logo-text {
    color: var(--main-text-color);
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.15em;
}

nav ul {
    list-style: none;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 20px 40px 5px 0px;
    font-weight: 700;
    font-size: 1.2rem;
}

nav a:link {
   color: var(--main-text-color);
   text-decoration: none;
}

nav a:visited {
    color: var(--main-text-color);
}

nav a:hover {
    color: var(--a-hover-color);
}

nav a:active {
    color: var(--main-text-color);
}

.hero-img {
    height: 70vh;
    background-image: url("img/hero-image-1920-1152.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
}

.welcome {
    color: var(--welcome-text-color);
    font-size: 7em;
    font-weight: 700;
    padding: 1em 0 0;
}

.my-name-is {
    color: #fff;
    font-size: 2.5em;
    font-weight: 600;     
}

#header-socials {
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

.social-item {
    padding: 0.6em;
    margin: 0.6em;
    background-color: #fff;
    opacity: 0.6;
    border-radius: 30%;
}

.i-am-happy {
    color: var(--main-text-color);
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    padding: 0.2em 0 0;   
}

.call-2-action {
    margin: 2em;
}

.call-2-action-buttons {
    display: flex;
    justify-content: center;
}

.call-2-action button {
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, var(--button-darker-end-color), var(--welcome-text-color));  
    color: #fff;
    padding: 10px 40px;
    margin: 40px;
    white-space: nowrap;
    transition: all 0.4s ease 0s;
}

.call-2-action button:hover {
    background-image: linear-gradient(to left, var(--button-darker-end-color), var(--welcome-text-color));  
}

.call-2-action a {
    color: #fff;
    text-decoration: none;
}

.call-2-action a:hover {
    color: var(--main-text-color);
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
}

section {
    color: var(--main-text-color);
    background-color: #fafaff;
    padding-bottom: 3em;
}

.content-header {
    width: 100%;
    background-color: #fafaff;
}

.content-header-text {
    padding: 1em 2em 0.2em;
    text-indent: 5em;
    font-weight: 700;
    font-size: 1.7rem;
}

.content-info {
    width: 92%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    background-color: #fff;
    display: flex;
    -webkit-box-shadow: 0.5em 0.5em 0.5em #ddd; 
    -moz-box-shadow:    0.5em 0.5em 0.5em #ddd;
    box-shadow:         0.5em 0.5em 0.5em #ddd; 
}

.content-info-left {
    min-width: 35%;
    display: flex;
    margin: 0 auto;
}

.content-info-left-img {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-circle {
    border-radius: 50%;
    -webkit-box-shadow: 0.5em 0.5em 0.5em #ddd; 
    -moz-box-shadow:    0.5em 0.5em 0.5em #ddd;
    box-shadow:         0.5em 0.5em 0.5em #ddd; 
}

.content-info-left-img img {
    width: 100px;
} 

.content-info-left-text-contact {
    margin: 0 auto;
}

.content-info-left-text ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.content-info-left-text ul li {
    padding: 10px 20px 5px 0px;
    font-weight: 700;
    white-space: nowrap;
}

.content-info-left-text-first-col {
    font-weight: 700;
    color: var(--main-text-color);
}

.content-info-left-text-second-col {
    font-weight: 700;
    color: var(--welcome-text-color);
}

.content-info-right {
    border-left: dotted var(--welcome-text-color);
    padding: 1%;
    line-height: 2;
}

.contact-form {
    min-width: 20em;
    margin: 0 auto;
}

.contact-form form {
    text-align: center;
}

input {
    width: 18em;
    margin: 0.5em 0;
}

textarea {
    width: 18em;
    min-height: 10em;
    margin: 0.5em 0;
}

#contact {
    background: #e8e8e8;
    padding: 1em;
    margin: 2em 0;
    -webkit-box-shadow: 0.5em 0.5em 0.5em #ddd; 
    -moz-box-shadow:    0.5em 0.5em 0.5em #ddd;
    box-shadow:         0.5em 0.5em 0.5em #ddd; 
}

fieldset {
    border: medium none !important;
    margin: 0.5em 0;
    width: 15em;
    padding: 0.5;
    text-align: center;
}

.content-info-right-contact {
    margin: 0 auto;
}

#contact button {
    cursor: pointer;
    width: 16.4em;
    border: none;
    background: var(--welcome-text-color);
    color: #FFF;
    margin: 0.5em 0;
    padding: 0.1em;
    font-size: 1.1em;
}

#contact button:hover {
    background: var(--button-darker-end-color);
    transition: background-color 0.4s ease-in-out;
}

footer {
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 2em;
}

iframe {
    width: 560px; 
    height: 405px;
    border:0;
    margin: 1em;
}

@media only screen and (max-width: 1360px) {
    .content-info {
        flex-wrap: wrap;
    }
    iframe {
        width: 504px; 
        height: 365px;
    }    
}

@media only screen and (max-width: 1200px) {
    iframe {
        width: 400px; 
        height: 290px;
        margin: auto;
    }    
}

@media only screen and (max-width: 1000px) {
    iframe {
        width: 280px; 
        height: 200px;
    }    
}

@media only screen and (max-width: 600px) {
    .welcome {
        font-size: 5em;
        margin: 1em 0 0.3em;
    }
    
    .my-name-is {
        font-size: 2em;
        margin: 1em 0 0.3em;
    }
}