:root {
    --outer-background-color: #e1e1e1;
    --main-text-color: #6b6b6b;
    --welcome-text-color: #ffc63b;
    --button-darker-end-color: #ff9a3b;    
    --a-hover-color: #999;
  }

body {
    background-color: var(--outer-background-color);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

#container {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

#logo-and-nav {
    display: flex;
    justify-content: space-between;
    
}

#logo {
    display: flex;
    padding-left: 3%;
}

.logo-item {
    padding: 20px 5px 5px 0px;
    align-self: center;
}

.logo-text {
    color: var(--main-text-color);
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 4px;
}

nav ul {
    list-style: none;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 20px 40px 5px 0px;
    font-weight: 700;
    font-size: 1.2rem;
}

nav a:link
{
   color: var(--main-text-color);
   text-decoration: none;
}

nav a:visited
{
    color: var(--main-text-color);
}

nav a:hover
{
    color: var(--a-hover-color);
}

nav a:active
{
    color: var(--main-text-color);
}

.hero-img {
    height: 80vh;
    background-image: url("img/hero-image-1920-1152.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
}

.welcome {
    color: var(--welcome-text-color);
    font-size: 7rem;
    font-weight: 700;
    padding: 50px 0px 0px;
}

.my-name-is {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;     
}

#header-socials {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.social-item {
    padding: 7px;
    margin: 15px;
    background-color: #fff;
    border-radius: 50%;
}

.i-am-happy {
    color: var(--main-text-color);
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    padding: 20px 0px 0px;   
}

.call-2-action-buttons {
    display: flex;
    justify-content: center;
}

.call-2-action button {
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, var(--button-darker-end-color), var(--welcome-text-color));  
    color: #fff;
    padding: 10px 40px;
    margin: 40px;
    white-space: nowrap;
    transition: all 0.4s ease 0s;
}

.call-2-action button:hover {
    /* border: none;
    border-radius: 10px; */
    background-image: linear-gradient(to left, var(--button-darker-end-color), var(--welcome-text-color));  
    /* color: #fff;
    padding: 10px 40px;
    margin: 40px; */
    /* transition: all 0.4s ease 0s; */
}

.call-2-action a {
    color: #fff;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
}

section {
    color: var(--main-text-color);
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.content-header {
    width: 75%;
    height: 200px;
    background-color: #fafaff;
}

.content-header-text {
    font-weight: 700;
    font-size: 1.7rem;
    position: relative;
    top: 0.5em;
    left: 8em;
}

.content-info {
    position: relative;
    top: -8em;
    width: 90%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: #cfc;
    display: flex;
    /* -webkit-box-shadow: 3px 3px 5px #ddd; 
    -moz-box-shadow:    3px 3px 5px #ddd;
    box-shadow:         3px 3px 5px #ddd;  */

    -webkit-box-shadow: 0.5em 0.5em 0.5em #ddd; 
    -moz-box-shadow:    0.5em 0.5em 0.5em #ddd;
    box-shadow:         0.5em 0.5em 0.5em #ddd; 
}

.content-info-left {
    width: 50em;
    display: flex;
}

.content-info-left-img {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-circle {
    border-radius: 50%;
    -webkit-box-shadow: 0.5em 0.5em 0.5em #ddd; 
    -moz-box-shadow:    0.5em 0.5em 0.5em #ddd;
    box-shadow:         0.5em 0.5em 0.5em #ddd; 
}

.content-info-left-img img {
    width: 100px;
} 

.content-info-left-text ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.content-info-left-text ul li {
    padding: 10px 20px 5px 0px;
    font-weight: 700;
    white-space: nowrap;
}

.content-info-left-text-first-col {
    font-weight: 700;
    color: var(--main-text-color);
}

.content-info-left-text-second-col {
    font-weight: 700;
    color: var(--welcome-text-color);
}

.content-info-right {
    border-left: dotted var(--welcome-text-color);
    padding: 1%;
    line-height: 2;
}